body {
    background: rgb(25, 173, 214);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 500px;
    width:100%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    padding-right: 50px;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(235, 235, 235, 0.7);
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin:0;
    padding: 20px 0;
    color: #fff;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

input:focus {
    outline: none;
}

.todo-form {
    display: flex;
    margin: 15px 0;
}

.todo-form > label {
    flex: 0 20%;
    width: 20%;
    padding: 0 15px;
    font-weight: 600;
    color: rgb(25, 173, 214);
    text-transform: uppercase;
}

.todo-form:nth-child(3){
    margin-right: -20px;
}

.todo-form-input {
    flex: 0 80%;
    width: 80%;
    border: none;
    border-bottom: 0.5px solid rgb(25, 173, 214);
}

.todo-form-button {
    flex:0 50%;
    width: 50%;
    margin: 20px 20px 0 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    background: royalblue;
    cursor: pointer;
}

.todo-list-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0.5px solid rgb(25, 173, 214);
    color: rgb(25, 173, 214);
}

.todo-list-header-item {
    flex: 0 33.33%;
    width: 33.33%;
    text-align: center;
}

.todo-list {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 0.5px solid rgb(25, 173, 214);
    text-align: center;
}

.todo-list-item {
    flex: 0 33.33%;
    width: 33.33;

}

.todo-delete-button {
    position: absolute;
    top: 50%;
    right: -5%;
    height: 20px;
    width: 20px;
    padding:0 4px;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 21px;
    background: rgb(241, 77, 77);
    transform: translate(50%,-50%);
    cursor: pointer;
}