<header class="site-nav block">
    <div class="container">
        <span>Reddit Clone</span>
    </div>
</header>

<main class="container" data-ng-init="showPosts()">
    <section class="site-menu block">
        <div class="site-menu__item">
            <input type="search" name="filter" id="" placeholder="Filter">
        </div>

        <div class="site-menu__item">
            <label for="sort">Sort by:</label>
            <select name="sort" id="">
                <option value="title"></option>
                <option value="author"></option>
                <option value="votes"></option>
            </select>
        </div>

        <div class="site-menu__item">
            <button ng-click="setTab(2)" ng-show="isSet(1)">New Post</button>
            <button ng-click="setTab(1)" ng-show="isSet(2)">View Post</button>
        </div>

    </section>

    <section class="site-form block">
        <form action="" ng-show="isSet(2)" ng-submit="submitPost($event)">
            <div class="form-content">
                <label for="title">Title</label>
                <input class="form-input" type="text" ng-model="title" name="title" id="" required/>
            </div>

            <div class="form-content">
                <label for="description">Description</label>
                <textarea class="form-input" ng-model="description" name="description" id="" cols="10" rows="10" required></textarea>
            </div>

            <div class="form-content">
                <label for="author">Author</label>
                <input class="form-input" type="text" ng-model="author" name="author" id="" required/>
            </div>

            <div class="form-content">
                <label for="image">Image Url</label>
                <input class="form-input" type="text" ng-model="imgUrl" name="imgUrl" id="" required/>
            </div>

            <button type="submit">Create Post</button>
        </form>
    </section>

    <section class="site-post block" ng-show="isSet(1)" ng-repeat="post in posts | orderBy:'-votes'">
        <div class="post-header block">
            <span>{{ post.title }} | </span>
            <span>Up</span>
            <span>Down</span>
            <span>{{ post.votes }}</span>
            <div class="post-header__author">{{ post.author }}</div>
        </div>

        <div class="post-content block">
            <div class="post-content__img">
                <img ng-src="{{post.imgUrl}}" alt="">
            </div>
            <div class="post-content__details">
                <div class="block">{{ post.description }}</div>
                <span am-time-ago="post.createdOn"></span>
                <a href="">
                    <ng-pluralize count="post.comments.length" when="{'0': 'No comment', '1':'1 comment', 'other':'{} comments'}"></ng-pluralize>
                    <!-- <span>{{ post.comments }}</span> -->
                </a>
            </div>
        </div>

        <div class="post-footer">
            <form action="" class="comment-form">
                <legend>Comment text</legend>

                <input type="text" name="comment" id=""/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
</main>